name: Test Wiki deployment

on:
  push:
    branches:
      - main
    paths:
      - wiki
  pull_request:
    branches:
      - main
    paths:
      - wiki

jobs:
  test-deploy-wiki:
    name: Test Wiki deployment
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: wiki
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci
      - name: Test build website
        run: npm run build